h1{
    font-size: 30px;
    text-align: center;
    color: #0c21e3
    }
    
p{
    font-size: 20px;
    text-align: left;
    font-family: Helvetica, sans-serif;
    }
    
body{
    background-color: #4bb2ea;
    }
a{
    font-size: 18px;
    color: #b228dc
}
img{
    width: 500px;
}
.container{
    text-align: center;
}